{% extends 'smedia/base_ac.html' %}
{% block title %}Login{% endblock %}



{% block body %}
    <div class="content">
      <form id="login-form" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            <div>
                <span class="text-danger small">{{ field.errors }}</span>
            </div>
            {% load tag_ac %}
            <input id="login-{{ field.name }}" type="{{field|field_type}}" name="{{ field.name }}" required class="input-material">
            <label for="login-{{ field.name }}" class="label-material">{{ field.label }}</label>
          </div>
        {% endfor %}
        <input id="login" type="submit" value="Login" class="btn btn-primary">
      </form>
      <a href="#" class="forgot-pass">Forgot Password?</a><br><small>Do not have an account? </small><a href="/smedia/register" class="signup">Signup</a>
    </div>
{% endblock %}